@import url('https://fonts.googleapis.com/css2?family=Radio+Canada&display=swap');


:root {
    --small: 14px;
    --smaller: 12px
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Radio Canada', sans-serif;
    height: 100vh;

    display: grid;
    grid-template-columns: repeat(4, minmax(0,1));
    grid-template-rows: repeat(5, minmax(0,1));
}

.header {
    grid-column: 2/5 ;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, minmax(0,1));

    background-color: #f9fafb;
    padding: 0px 1.5rem;
}

.header .searchBar {
    display: flex;
    align-self: center;
    width: 100%;
    gap: 10px;

}

form input {
    width: 100%;
    height: 20px;
    width: 325px;
    border: none;
    border-radius: 10px;
    background-color: #d1d5db;
}

.header .topRightHeader {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 15px;
}

#iconsmall {
    height: 50px;
    width: auto;
}

.header .username {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

.header .username img {
    height: 75px;
    width: auto;
}

#small {
    font-size: var(--small);
}


.header .headerButtons {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
}

.header button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;

    color: white;
    background-color: #0284c7;
}

.sidebar {
    grid-row: 1/6;

    display: grid;
    grid-template-rows: 1fr 3fr 6fr;

    color: white;
    background-color:#0284c7;

}


.sidebar .title, .side1 li, .side2 li {
    display: flex;
    padding: .25em 1em;

}

.side1 li p, .side2 li p {
    align-self: center;
    padding-left: .5em;
}

.sidebar .title {
    align-self: center;
}

.sidebar .title h2 {
    padding-left: .2em;
}



.dashboard {
    grid-row: 2/6;
    grid-column: 2/5 ;
    padding: 25px;

    display: grid;
    grid-template-rows: repeat(3, minmax(0,1));
    grid-template-columns: 4fr 2fr;
    gap: 10px;



    background-color: #e5e7eb;
}

.dashboard .projects {
    grid-row: 1/4;
    grid-column: 1/2 ;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
}

.dashboard .projects .project {
    display: flex;
    flex-direction: column;

    background-color: #f9fafb;
    width: 275px;
    height: 150px;
    padding: 15px;

    border-radius: 10px;
    border-left: solid 10px orange;

    position: relative;
}

.dashboard .projects .projecticons {    
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 275px;

    display: flex;
    justify-content: flex-end;
    gap: 25px;
}

.dashboard .projects p, .dashboard .trending .usertrend {
    font-size: var(--small);
}


.dashboard .annoucements {
    grid-row: 1/2;
    grid-column: 2/3 ;

    border-radius: 10px;
    background-color: #f9fafb;

    display: flex;
    flex-direction: column;
}

.dashboard .trending {
    grid-row: 3/4;
    grid-column: 2/3;

    border-radius: 10px;
    background-color: #f9fafb;
    
    display: flex;
    flex-direction: column;
    
}